html {background: transparent url('images/ep_logo.png') left top no-repeat; background-color: #003c6e;}
body {margin: 4.5% 1% 0.5% 1%; border-radius: 15px; width:98%; height:91%;}
.reveal .controls {right: 45px; bottom: 25px;}