<!doctype html>
<html lang="en" ng-app="CodingDojoApp">
<head>
    <meta charset="utf-8">
    <title>Coding Dojo : Elitepartner</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="lib/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="PersonalityTestController">

<p>{{personalityTest.name}}</p>
{{personalityTest}}
<ol>
    <li ng-repeat="question in personalityTest.questions">
        <p>{{question.title}}</p>
        <ul>
            <li ng-repeat="choice in question.choices">
                <input type="radio" ng-model="question.value" value="{{$index}}"> {{choice.title}}
            </li>
        </ul>
    </li>
</ol>
<button ng-click="sendReply()">

</body>
</html>